<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.trade.mapper.OrderItemMapper">

    <insert id="insertBatch">
        INSERT INTO order_items (order_id, article_id, article_title, article_cover, price, quantity, sub_total, created_at)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.orderId}, #{item.articleId}, #{item.articleTitle}, #{item.articleCover}, #{item.price}, #{item.quantity}, #{item.subTotal}, NOW())
        </foreach>
    </insert>

</mapper>